AMBIENTE_TESTE=teste
AMBIENTE_PRINCIPAL=principal

# Use uma URL do SQLAlchemy. Exemplos:
# SQLite:     sqlite:///./incentivos.db
# PostgreSQL: postgresql+psycopg://usuario:senha@localhost:5432/incentivos
# MySQL:      mysql+pymysql://usuario:senha@localhost:3306/incentivos
# MSSQL:      mssql+pyodbc://sa:SuaSenhaForte123!@localhost:1433/incentivos?driver=ODBC+Driver+17+for+SQL+Server

DATABASE_URL_TESTE=sqlite:///./incentivos.db
DATABASE_URL_PRINCIPAL=

DATABASE_URL=

DB_SCHEMA=ModuloPrincipal

# Senha do Administrador (SA) para o container Docker do MSSQL
MSSQL_SA_PASSWORD=SuaSenhaForte123!
